<html>
    <head>
      <style>
        body{
      		font-family : Arial;
      	}
      	.date_stamp{
      		font-size: 20px;
      		font-weight: bold;
      	}
      	.message{
      		font-size: 30px;
      	}
      </style>

      <%= javascript_include_tag :defaults, :juggernaut %>
      <%= juggernaut  :debug=> false, :host=>'172.16.1.99' %>
    </head>
    <body>
    	
      <ul id="message_data" style="list-style:none">
      </ul>
    </body>
  </html>
