<html>
    <head>
      <style>
        body{
      		font-family : AlbanyMT;
      	}
      	#message_data{
      		font-size: 30px;
      	}
      </style>
      <%= javascript_include_tag :defaults, :juggernaut %>
      <%= juggernaut  :debug=> false, :host=> @ip %>
    </head>
     <body>
      <center> 	
      	<div id="message_data" >
      	</div>
      </center>
    </body>
  </html>
