<h2> Upcoming Meetings</h2>
<% if @events.empty? %>
	<p> There are no upcoming meetings </p>
<% else %>
	<% @events.each do |e| -%>
		<p><%= e.start_time %></p>
		<p><%= e.description %></p>

	<% end -%>
<% end %>

	<br />
	<%= @time %>

