
<table width="98%" height="360" border="0">
<% (0..@shift1.size-1).each do |s| %>
	<tr>
	<% if @start_times.rindex {|e| e == @shift1[s]} -%>
		<td width="50"><%= @shift1[s] %></td><td bgcolor='#8cc55a'> &nbsp;&nbsp;&nbsp;&nbsp;<font color="white"><%= @subjects[@start_times.rindex {|e| e == @shift1[s]}] %></font></td>
	<% elsif @end_times.rindex {|e| e == @shift1[s+1]} %>
		<td  width="50"><%= @shift1[s] %></td><td bgcolor='#8cc55a'>&nbsp;</td>
	<% else -%>
		<td width="50"><%= @shift1[s] %></td><td>&nbsp;</td>
	<% end -%>
	</tr>
<% end -%>
</table>



