<table width="98%" height="360" class="event_table">
<% (0..@shift2.size-1).each do |s| %>
	<tr >
	<td width="50" style="border-right: 1px solid #CCC;" > 
		<% if s.even? %>
			<%= @shift2[s] %>
		<% else -%>
			&nbsp;
		<% end %>		
	</td>
	<% if @start_times.rindex {|e| e == @shift2[s]} -%>
		<% @rowspan= (@shift2.index(@end_times[@start_times.rindex(@shift2[s])])) - @shift2.index(@start_times[@start_times.rindex(@shift2[s])]) %>
			<% if @rowspan > 1 -%>	
			<td bgcolor='#8cc55a' rowspan=<%= @rowspan %> style="border: 1px solid #fff;"> &nbsp;&nbsp;&nbsp;&nbsp;
			<font color="white"><%= @subjects[@start_times.rindex {|e| e == @shift2[s]}] %></font>	</td>
			<% else -%>
				<td>&nbsp;</td>
			<% end -%>
	
	<% else -%>

	<% end -%>

	</tr>
<% end -%>
</table>



