<style>
body { font-family: 'Arial'}
.container { width: 950px; margin: 0 auto; }
.column { float: left; margin-right: 10px; }
.span-16 { width: 630px; }
.span-24 { width: 950px; }
.last { margin-right: 0; }
.span-8 { width: 310px; }
table { border: 1px solid #ccc;}
td {border: 1px solid #ccc;}
</style>




<div class='container'> 
Current time is <%= @current_time %>
<div id = "calendar">
	<%= render :partial => "shift" , :current_shift=> @current_shift %>
</div>

</div>

