<%= javascript_include_tag :defaults %>
<style>
body { font-family: 'Arial'}
table { border: 1px solid #ccc;}
td {border: 1px solid #ccc;}
</style>

<div class='container'> 

<div id = "calendar">
	Current time is <%= @current_time %><br />
	Meeting Room is :<%= @room_name %><br />

	<%= render :partial => "shift" , :current_shift=> @current_shift %>
</div>

</div>

