<%= javascript_include_tag :defaults %>
<style>
body { font-family: 'Albany MT'}
.event_table {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.event_table td {
	border-bottom: 1px solid #ccc;
	
}

</style>

<div class='container'> 

<div id = "calendar">
	Meeting Room is :<%= @room_name %><br />
	<%= render :partial => "shift" , :current_shift=> @current_shift %>
</div>

</div>

